 *{
    margin: 0px;
    padding: 0px;
 }
 /* Third section start here */
.forth-section{
    background-color: #154360;
    padding: 50px;
}
 .Advice-container{
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
    gap: 50px;
    color: white;
}
.Advice-container .left img{
    width: 100%;
}
.left h2{
    padding: 20px 0px;
    font-size: 30px;
}
.left p{
    line-height: 1.3;
    font-size: 18px;
}
.left .icon a i{
    padding: 5px 20px;
    font-size: 30px;
    background-color: #fff; 
    border-radius: 30px;
    margin: 20px 5px;
    transition: 0.5s;
}
.left .icon a i:hover{
    background-color: #f8b2f5;
}
.left .icon{
    text-align: center;

}
.right h2{
    border-bottom: 2px solid red;
    font-size: 30px;
    padding-bottom: 20px;
}
.right p{
    line-height: 1.3;
    font-size: 18px;
    padding-top: 20px;
    text-align: justify;
}
.right button{
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 30px;
    transition: 0.5s;
}
.right button:hover{
    background-color: ;
}





/* Responsive area start */
@media only screen and (max-width: 688px) {
    .Advice-container{
        display: block;
        margin: 30px 0px;
        gap: 30px;
        color: white;
    }
    .right h2{
        border-bottom: 2px solid red;
        font-size: 30px;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .left .icon{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 200px;
        margin: auto;
    }

}

@media only screen and (min-width: 689px) and (max-width: 992px) {
    .Advice-container{
        display: block;
        margin: 50px 30px;
        gap: 30px;
        color: white;
    }
    .right h2{
        border-bottom: 2px solid red;
        font-size: 30px;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .left .icon{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 200px;
        margin: auto;
    }
}